body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.error {
    color: red;
    font-size: 0.9em;
}

form div {
    margin-bottom: 10px;
}

input {
    padding: 5px;
    width: 200px;
}

button {
    padding: 5px 10px;
    background: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

    button:hover {
        background: #0056b3;
    }

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

.form-users {
    margin-top: 30%; 
}

.submit-add {
    background-color: #8A2BE2;
    color: white;
}

.submit-add:hover {
    background-color: #5a0ea1;
}